<mat-card>
    <h1>Consistency</h1>
    <p>The usability of a system is improved when similar parts are expressed in similar ways.
    </p>
</mat-card>

<mat-card>
    <h2 class="do">DO's<i class="far fa-check-circle" id="do"></i></h2>
    <img src="../../../assets/consistency.jpg" class="responsive" alt="consistency example">
    <p class="signature">By Agata Piekarczyk</p>
</mat-card>
<mat-card>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h2 class="dont">DON'Ts<i class="far fa-times-circle" id="dont"></i></h2>
            </div>
            <div class="col-6">
                <h2 class="do">DO's<i class="far fa-check-circle" id="do"></i></h2>
            </div>
        </div>
    </div>

    <img src="../../../assets/consistency-2.jpg" class="responsive" alt="a business card">
    <p class="signature">By Agata Piekarczyk</p>
</mat-card>

<mat-card>
    <h2>Tips</h2>
    <p>Add visual interest, show relationships and distinguish special elements.</p>
</mat-card>

