@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");

h1,
.persona {
  font-family: "DM Serif Display", serif;
}

.proto-persona {
  font-family: "Pacifico", cursive;
  font-size: 20px;
}

#proto-persona-text {
  font-family: "Pacifico", cursive;
}
