<mat-card>
    <h1>What is User Persona and why do we create it?</h1>
        <p>Persona is a representation of your target user. To create a user persona a proper research 
        is needed as we need to establish our users' demographic information, behaviors, goals and 
        pain points (frustrations). Thanks to personas we are able to build a better product for our
        customers. It is a fictional character with its own name, picture and interests.</p>
</mat-card>

<mat-card>
    <h1><span class="persona">Persona</span>  vs <span class="proto-persona">Proto-Persona</span></h1>
    <p><span class="persona">Persona</span> is based on a thorough research which is usually conduct by 
        a UX Researcher. It should be created with attention to detail. <span id="proto-persona-text">
        Proto-persona</span> is a non-research driven representation of our target group (sometimes 
        time and money is an obstacle to conduct a proper research). Usually is a low-fidelity project.</p>
</mat-card>

<mat-card>
    <h1>Example of a User Persona</h1>
    <p>Let's imagine that we are creating a hotel search application where you can easily find good 
        hotels for a decent price, with a bunch of useful filters (especially when it comes to <em>family-friendly</em> options). 
        Our user persona is a <strong>busy mom Marta.</strong></p>
    <img src="../../assets/persona.jpg" class="responsive" alt="a user persona">
</mat-card>