<mat-card>
    <h1>What is Information Architecture?</h1>
    <p>Information Architecture (IA) means consciously organizing the content and flow of a website, app or system. 
        You can observe it in everyday life. A very simple example - names of the aisles in the grocery store. 
        That organization should me meaningful, which means it's based on what you know about the people using this product.
        In other words - what people <strong>expectations</strong> are.<br/><br/>
        It's based on:</p>
        <ul>
            <li>How content will be organized</li>
            <li>What content will be called (labeling)</li>
            <li>What and how much they expect to find</li>
            <li>How they expect to move though it</li>
        </ul>
        <p>Therefore we can distinguish <strong>four core components of IA</strong>:</p>
        <ul>
            <li><strong>Organization Schemes and Structures:</strong> How information is categorized and structured.</li>
            <li><strong>Labeling Systems:</strong> How information is represented.</li>
            <li><strong>Navigation Systems:</strong> How users browse or move trough information.</li>
            <li><strong>Search Systems:</strong> How users look for information.</li>
        </ul>
        <h1>Strategic content</h1>
        <p>The content should deliver a specific message to end users, make them feel a certain way. Should be:</p>
        <ul>
            <li><strong>Relevant</strong> - Are the users going to identify with it?</li>
            <li><strong>Appropriate</strong> - Is the style appropriate? Is the message consistent?</li>
            <li><strong>Useful</strong> - Is it valuable and meaningful to the people consuming it?</li>
        </ul>
</mat-card>
<mat-card>
    <h1>Identifying content requirements</h1>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <ul>
                        <li>Who is going to create content?</li>
                        <li>Who is going to edit and approve it?</li>
                        <li>Who is going to manage and update it?</li>
                        <li>What are competitors doing?</li>
                        <li>Will people think this is useful and valuable?</li>
                    </ul>
                </div>
                <div class="col-sm">
                    <ul>
                        <li>How will they find all of this content?</li>
                        <li>How many different kinds are there?</li>
                        <li>Where does it fit in our established IA?</li>
                        <li>How will we display it?</li>
                        <li>Are there form factor restrictions (e.g. mobile device)?</li>
                    </ul>
                </div>
            </div>
        </div>
</mat-card>
<mat-card>
    <h1>5 states affect content with examples</h1>
    <ol>
        <li><strong>Physical</strong> - Which device do the users use? Are they performing other tasks at the same time? </li>
        <li><strong>Environmental</strong> - Are they viewing content on their phone as they are walking down the street?</li>
        <li><strong>Preferential</strong> - Are there any learning or physical disabilities that should be considered?</li>
        <li><strong>Emotional</strong> - What's motivating their activity?</li>
        <li><strong>Cognitive</strong> - Is it suitable for all education or skill levels?</li>
    </ol>
    <h1>Content classification methods</h1>
        <ol>
            <li><strong>Chronological</strong> - appropriate for time based content</li>
            <li><strong>Alphabetical</strong> - great when users need to find something fast, e.g. indexes</li>
            <li><strong>Geographical</strong> - use when content is specifically related to a physical place</li>
            <li><strong>Most popular</strong> - great for interest-based browsing</li>
            <li><strong>Process order</strong> - use when content represent a process</li>
        </ol>
</mat-card>
<mat-card>
    <h1>Information Architecture must be user-centered</h1>
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <h2 class="dont">DON'Ts<i class="far fa-times-circle" id="dont"></i></h2>
                    <ul>
                        <li>Don't use acronyms (when you need to use them, at least expand them)</li>
                        <li>Don't use difficult terminology and jargon</li>
                        <li>Don't overlap categories</li>
                        <li>Don't make up words and terms</li>
                        <li>Don't make the user think too much!</li>
                    </ul>
                </div>
                <div class="col-6">
                    <h2 class="do">DO's<i class="far fa-check-circle" id="do"></i></h2>
                    <ul>
                        <li>Think and predict! <em>If I were a user, what would I call it?</em></li>
                        <li>The easier labels, the better</li>
                        <li>Names should be descriptive</li>
                        <li>Think about your colleagues when naming the files -
                            keep it consistent with the project</li>
                    </ul>
                </div>
            </div>
    </div>
</mat-card>
<mat-card>
    <h1>Primary and secondary navigation</h1>
        <p>
            <strong>Primary navigation</strong> - content that most users are interested in.
            For example categories like "Men", "Women", "Kids" on the clothing store website.<br>
            <strong>Secondary navigation</strong> - content that doesn't serve the primary 
            goal. For instance tabs like "Home", "Contact Us".
        </p>
    <h1>Global and local navigation</h1>
        <p>
            <strong>Global navigation</strong> - appears on every page of the website. It allows users to switch
            between top-level categories easily, from any location.<br>
            <strong>Local navigation</strong> - only appears on category pages and is specific to that 
            particular category. It helps users preview lower-level content.
        </p>
</mat-card>
