<mat-card>
    <h1>Usability-testing</h1>
    <p>In a usability-testing session, a researcher (called a “facilitator” or a “moderator”) 
        asks a participant to perform tasks, usually using one or more specific user interfaces. 
        While the participant completes each task, the researcher observes the participant’s 
        behavior and listens for feedback.</p>
        <p>Usability testing helps us to uncover problems, discover opportunities, and learn 
            about users.</p>
        <p>There are many different types of usability testing, but the core elements in most 
            usability tests are <strong>the facilitator, the tasks, and the participant.</strong></p>
        <h2>Qualitative vs. Quantitative</h2>
        <ul>
            <li><strong>Qualitative usability testing</strong> focuses on collecting insights, findings, and anecdotes about how people use the product
            or service. Qualitative usability testing is great for <strong>discovering problems in the user experience</strong>. This form of
            usability testing is more common than quantitative usability testing.</li>
            <li><strong>Quantitative usability testing</strong> focuses on collecting metrics that describe the user experience. Two of the metrics most
            commonly collected in quantitative usability testing are <strong>task success and time on task.</strong></li>
        </ul>
</mat-card>
<mat-card>
    <h1>Cognitive Walkthrough</h1>
    <p>Cognitive walkthroughs are used to examine the usability of a product by simulating users steps and goals. 
        They are designed to see whether or not a new user can easily carry out tasks within a given system.</p>
        <h2>Example of the simple task</h2>
            <ul class="walkthrough">
                <li>Open browser</li>
                <li>Navigate to site</li>
                <li>Click login button</li>
                <li>Enter user name in user name field</li>
                <li>Enter password in password field</li>
                <li>Click the login button</li>
            </ul>
        <img src="../../assets/testing.jpg" alt="a person with laptop" class="responsive">
</mat-card>
<mat-card>
    <h1>Checklists</h1>
    <p>It's always worth to check if the design principles are met. There are many <em>ready to 
        use</em> checklist available, however sometimes they don't include all of the elements
        so it's also good to create own checklist.</p>
        <section class="section">
            <span class="list-section">
                <mat-checkbox class="margin" [checked]="allComplete" [color]="task.color" [indeterminate]="someComplete()"
                    (change)="setAll($event.checked)">
                    {{task.name}}
                </mat-checkbox>
            </span>
            <span class="list-section">
                <ul class="checkbox-list">
                    <li *ngFor="let subtask of task.subtasks">
                        <mat-checkbox [(ngModel)]="subtask.completed" [color]="subtask.color"
                            (ngModelChange)="updateAllComplete()">
                            {{subtask.name}}
                        </mat-checkbox>
                    </li>
                </ul>
            </span>
        </section>
</mat-card>
<mat-card>
    <h1>10 Usability Heuristics for User Interface Design</h1>
    <ol>
        <li><strong>Visibility of system status</strong>
            <p>The design should always keep users
                informed about what is going on, through appropriate feedback within a reasonable
                amount of time.</p>
        </li>
        <li><strong>Match between system and the real world</strong>
            <p>The design should speak the users' language. Use words, phrases, and
                concepts familiar to the user, rather than internal jargon. Follow real-world
                conventions, making information appear in a natural and logical order.</p>
        </li>
        <li><strong>User control and freedom</strong>
            <p>Users often perform actions by mistake. They need a clearly marked "emergency exit" to leave the unwanted
                action without having
                to go through an extended process.</p>
        </li>
        <li><strong>Consistency and standards</strong>
            <p>Users should not have to wonder whether different words, situations, or actions
                mean the same thing. Follow platform and industry conventions.</p>
        </li>
        <li><strong>Error prevention</strong>
            <p>Good error messages are important, but the best designs carefully prevent
                problems from occurring in the first place. Either eliminate error-prone
                conditions, or check for them and present users with a confirmation option before
                they commit to the action.</p>
        </li>
        <li><strong>Recognition rather than recall</strong>
            <p>Minimize the user's memory load by making elements,
                actions, and options visible. The user should not have to remember information from
                one part of the interface to another. Information required to use the design (e.g.
                field labels or menu items) should be visible or easily retrievable when needed.</p>
        </li>
        <li><strong>Flexibility and efficiency of use</strong>
            <p>Shortcuts — hidden from novice users — may speed
                up the interaction for the expert user such that the design can cater to both
                inexperienced and experienced users. Allow users to tailor frequent actions.</p>
        </li>
        <li><strong>Aesthetic and minimalist design</strong>
            <p>Interfaces should not contain information
                which is irrelevant or rarely needed. Every extra unit of information in an
                interface competes with the relevant units of information and diminishes their
                relative visibility.</p>
        </li>
        <li><strong>Help users recognize, diagnose, and recover from errors</strong>
            <p>Error messages should be expressed in plain language (no error codes), precisely
                indicate the problem, and constructively suggest a solution.</p>
        </li>
        <li><strong>Help and documentation</strong>
            <p>It’s best if the system doesn’t need any additional explanation. However, it
                may be necessary to provide documentation to help users understand how to complete
                their tasks.</p>
        </li>
    </ol>
    <small>More info on:<a href="https://www.nngroup.com/articles/ten-usability-heuristics/" target="_blank">
            nngroup.com</a></small>
</mat-card>
