<mat-card>
    <h1>Alignment</h1>
    <p>The placement of elements such that edges line up along common rows or columns, 
        or their bodies along a common center.
    </p>
</mat-card>

<mat-card>
<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="dont">DON'Ts<i class="far fa-times-circle" id="dont"></i></h2>
            <img src="../../../assets/incorrect-alignment.jpg" class="responsive" alt="incorrect alignment">
        </div>
        <hr>
    <div class="row">
        <div class="col">
            <h2 class="do">DO's<i class="far fa-check-circle" id="do"></i></h2>
            <img src="../../../assets/correct-alignment.jpg" class="responsive" alt="correct alignment">
        </div>
    </div>
    </div>
</div>
<p class="signature">By Agata Piekarczyk</p>
</mat-card>
<mat-card>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h2 class="dont">DON'Ts<i class="far fa-times-circle" id="dont"></i></h2>
            </div>
            <div class="col-6">
                <h2 class="do">DO's<i class="far fa-check-circle" id="do"></i></h2>
            </div>
        </div>
    </div>

    <img src="../../../assets/alignment-business-card.jpg" class="responsive" 
    alt="business-card">
    <p class="signature">By Agata Piekarczyk</p>
</mat-card>

<mat-card>
    <h2>Tips</h2>
        <p>Be purposeful and visually connect elements.</p>
</mat-card>



