<mat-card>
    <h1>Proximity</h1>
    <p>Elements that are close together are perceived to be more related than elements that 
        are further apart.
    </p>
</mat-card>

<mat-card>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h2 class="dont">DON'Ts<i class="far fa-times-circle" id="dont"></i></h2>
            </div>
            <div class="col-6">
                <h2 class="do">DO's<i class="far fa-check-circle" id="do"></i></h2>
            </div>
        </div>
    </div>

    <img src="../../../assets/proximity-1.jpg" class="responsive"
        alt="example of incorrect and correct proximity use">
    <p class="signature">By Agata Piekarczyk</p>
</mat-card>

<mat-card>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h2 class="dont">DON'Ts<i class="far fa-times-circle" id="dont"></i></h2>
            </div>
            <div class="col-6">
                <h2 class="do">DO's<i class="far fa-check-circle" id="do"></i></h2>
            </div>
        </div>
    </div>

    <img src="../../../assets/proximity-2.jpg" class="responsive" alt="example of incorrect and correct proximity use">
    <p class="signature">By Agata Piekarczyk</p>
</mat-card>

<mat-card>
    <h2>Tips</h2>
    <p>Group related items and limit the number of objects. Purpose is to organize elements.</p>
</mat-card>

