<mat-card>
    <h1>Color</h1>
    <p>Color is used in design to attract attention, group elements, indicate meaning and 
        enhance aesthetics. Colors are powerful!
    </p>
    <p>We can distinguish</p>
    <ul>
        <li>Primary Colors (<span style="color:blue">blue</span>,
            <span style="color:red">red</span>, <span style="color:rgba(223, 223, 23, 0.705)">
                yellow</span>)</li>
        <li>Secondary Colors (<span style="color:purple">purple</span>,
        <span style="color:green">green</span>, <span style="color:orange">orange</span>)</li>
        <li>Tertiary Colors (<span style="color: rgb(145, 226, 69)">light-green</span>,
        <span style="color: rgb(109, 101, 101) ">dark-grey</span>, etc.)</li>
    </ul>
    <p>Remember! There are <span style="color: orange">warm</span> and 
        <span style="color:lightskyblue">cold</span> colors. Warm ones pop on a background more.</p>
     <ul>
        <li>Hue - is a pure color</li>
        <li>Shade - is created by adding black to a color</li>
        <li>Tint - is created by adding white to a color</li>
     </ul>
     <p>Monochromatic - using one hue and its tints and shades.</p>
     <img src="../../../assets/monochromatic.jpg" class="responsive">
     <br>
<h1 class="tab-header">Meaning of colors</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Color</th>
                <th scope="col">Positives</th>
                <th scope="col">Negatives</th>
                <th scope="col">Use in Design</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Red</th>
                <td>action, power, passion</td>
                <td>anger, violent, irritation</td>
                <td>errors, warnings, "buy now"</td>
            </tr>
            <tr>
                <th scope="row">Orange</th>
                <td>vibrant, warm, creative</td>
                <td>cheap, overly proud</td>
                <td>use to suggest adventure, fun and optimism</td>
            </tr>
            <tr>
                <th scope="row">Yellow</th>
                <td>happy, fun, logic</td>
                <td>critical, impatient</td>
                <td>use as an accent color, use for fun sites</td>
            </tr>
            <tr>
                <th scope="row">Green</th>
                <td>health, peace, nature</td>
                <td>greedy, envious</td>
                <td>eco-friendly products, to suggest sth new or fresh </td>
            </tr>
            <tr>
                <th scope="row">Blue</th>
                <td>loyalty, trust, authority</td>
                <td>predictable, rigid</td>
                <td>use for high-tech business, professional sites</td>
            </tr>
            
        </tbody>
    </table>
     

</mat-card>

<mat-card>
    <p>The best way of combining colors is to use the below color wheels</p><br>
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="../../../assets/color-wheel-triad.jpg" class="responsive">
            </div>
            <div class="col">
                <img src="../../../assets/color-wheel-analogous.jpg" class="responsive">
            </div>
        </div>
    </div>
</mat-card>

<mat-card>
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="dont">DON'Ts<i class="far fa-times-circle" id="dont"></i></h2>
            </div>
            <div class="col">
                <h2 class="do">DO's<i class="far fa-check-circle" id="do"></i></h2>
            </div>
            <img src="../../../assets/color.jpg" class="responsive" alt="example of color use">
        </div>
    </div>
    <p class="signature">By Agata Piekarczyk</p>
</mat-card>

<mat-card>
    <h2>Tips</h2>
    <p>Use and combine colors purposefully. Limit their number (5 or less). 
        Remember that some people are color blind so don't rely only on colors.</p>
</mat-card>
