@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Georama&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

.navbar-expand-lg {
  margin-bottom: 40px;
}

h1 {
  margin: 15px;
  padding: 3px;
  font-size: 30px;
  /*font-family: "DM Serif Display", serif;*/
  font-family: "Abril Fatface", cursive;
  color: #3a84a1;
}

a {
  margin: 3px 15px;
  font-size: 18px;
  font-family: "Georama", sans-serif;
}
