<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <h1 class="animate__animated animate__pulse">UX</h1>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="./home" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="./persona" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Persona</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="./maps" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Maps</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Design
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" routerLink="design-thinking" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Design Thinking</a></li>
                        <li><a class="dropdown-item" routerLink="design-system" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Design System</a></li>
                        <li><a class="dropdown-item" routerLink="twenty-first-century-design" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">21st Century Design</a></li>
                </ul>
            </li>
            <li class="nav-item">
                    <a class="nav-link" routerLink="./accessibility" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Accessiblity</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="./prototyping" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Prototyping</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="./testing" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Testing</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Information Architecture
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" routerLink="overview" data-bs-toggle="collapse"
                                data-bs-target=".navbar-collapse.show">Architecture Overview</a></li>
                        <li><a class="dropdown-item" routerLink="architect-designer" data-bs-toggle="collapse"
                                data-bs-target=".navbar-collapse.show">UX Designer vs. UX Architect</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Tips & Tricks
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" routerLink="alignment" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Alignment</a></li>
                        <li><a class="dropdown-item" routerLink="color" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Color</a></li>
                        <li><a class="dropdown-item" routerLink="consistency" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Consistency</a></li>
                        <li><a class="dropdown-item" routerLink="contrast" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Contrast</a></li>
                        <li><a class="dropdown-item" routerLink="users-info" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Keeping Users Informed</a></li>
                        <li><a class="dropdown-item" routerLink="proximity" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Proximity</a></li>
                        <li><a class="dropdown-item" routerLink="simplicity" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Simplicity</a></li>
                        <li><a class="dropdown-item" routerLink="typography" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Typography</a></li>
                        <li><a class="dropdown-item" routerLink="understandability" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Understandability</a></li>
                        <li><a class="dropdown-item" routerLink="visibility" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Visibility</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>


