<mat-card>
    <h1 class="text-responsive">What is design thinking?</h1>
    <p class="design-thinking">Design thinking is a process that seeks and to solve complex problems by taking into
        account
        what the users' needs are.</p>
    <ol class="design-thinking">
        <li><strong>Empathize</strong> - Research Your Users' Needs</li>
        <li><strong>Define</strong> - State Your Users' Needs and Problems</li>
        <li><strong>Ideate</strong> - Challenge Assumptions and Create Ideas</li>
        <li><strong>Prototype</strong> - Start to Create Solutions</li>
        <li><strong>Test</strong> - Try Your Solutions Out</li>
    </ol>
</mat-card>
<mat-card>
    <h1 class="text-responsive">Types of research</h1>
    <ol>
        <li><strong>Qualitative</strong></li>
        <ul>
            <li><strong>In-depth interviews</strong> - asking open-ended questions verbally to respondents</li>
            <li><strong>Focus groups</strong> - discussion among a group of people about a topic to gather
                opinions that can be used for further research.</li>
            <li><strong>Ethnography</strong> - Participating in a community or organization for an
                extended period of time to closely observe culture and behavior</li>
        </ul>
        <li><strong>Quantitative</strong></li>
        <ul>
            <li><strong>Surveys</strong> - list of closed or multiple choice questions that is distributed to a sample
                (online, in person, or over the phone)</li>
        </ul>
    </ol>
    <p><strong>When to use qualitative vs. quantitative research</strong></p>
    <ul>
        <li><strong>Quantitative research</strong> - helps to <strong>confirm or test</strong> a theory or hypothesis
        </li>
        <li><strong>Qualitative research</strong> - helps to <strong>understand</strong> concepts, thoughts, experiences
        </li>
    </ul>
</mat-card>

