<mat-card>
    <h1 class="text-responsive">Empathy Map</h1>
    <p>It helps team members understand the user’s mindset. We use it to:</p>
    <ul>
        <li>Build empathy for your users</li>
        <li>Force alignment and understanding about a user type</li>
    </ul>
    <p>When to use it:</p>
    <ul>
        <li>Beginning of any design process</li>
        <li>When categorizing research notes from a user interview</li>
    </ul>
    <p><em>Empathy Map</em> example</p>
    <img src="../../assets/empathy-map.jpg" alt="empathy map" class="responsive">
    <hr>
    <h1 class="text-responsive">Customer Journey Map</h1>
    <p>It focuses on a specific customer’s interaction with a product or service. We use it to:</p>
    <ul>
        <li>Highlight specific customer journey touchpoints that cause pain or user's happiness</li>
        <li>Create one shared, organization-wide understanding of the customer journey</li>
    </ul>
    <p>When to use it:</p>
    <ul>
        <li>At any point in the design process, as a reference point amongst a team throughout a product design cycle
        </li>
    </ul>
    <p><em>Customer Journey Map</em> example</p>
    <img src="../../assets/customer-journey-map.jpg" alt="customer journey map" class="responsive">
    <hr>
    <h1 class="text-responsive">Customer Experience Map</h1>
    <p>It generalizes the concept of customer-journey maps across user types and products.
        It is not tied to a specific product or service. We use it to understand a general human behavior
        (before a customer journey map in order to gain understanding for a general human behavior).</p>
    <small>More info on:<a href="https://www.nngroup.com/articles/ux-mapping-cheat-sheet/" target="_blank">
            nngroup.com</a></small>
</mat-card>

