<mat-card>
    <h1>Typography</h1>
<p> It is the art and technique of arranging type to make written language legible,
    readable and appealing when
    displayed.</p>
    <p>We can distinguish four main categories of fonts</p>
    <ul>
        <li><span class="serif">Serif</span> - classic & traditional - great for printed materials and headings</li>
        <li><span class="sans-serif">Sans Serif</span> - modern & clean - perfect for websites, widely like by all ages</li>
        <li><span class="script">Script</span> - fancy & handwritten - should be use in very limited amounts</li>
        <li><span class="decorative">Decorative</span> - fun & unique - also should be use in small doses, not 
            recommended for serious websites.</li>
    </ul>
    <p>Web-safe fonts: <span class="arial">Arial</span>, <span class="courier-new">Courier New</span>,
         <span class="georgia">Georgia</span>, <span class="tahoma">Tahoma</span>, 
         <span class="times-new-roman">Times New Roman</span>, <span class="verdana">Verdana</span></p>


</mat-card>

    <mat-card>
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="dont">DON'Ts<i class="far fa-times-circle" id="dont"></i></h2>
            </div>
            <div class="col">
                <h2 class="do">DO's<i class="far fa-check-circle" id="do"></i></h2>
            </div>
            <img src="../../../assets/typography.jpg" class="responsive" alt="forms with different fonts">
        </div>
    </div>
    <p class="signature">By Agata Piekarczyk</p>
</mat-card>

<mat-card>
    <h2>Tips</h2>
    <ul>
        <li>Keep contrast high</li>
        <li>Use size 10 or larger</li>
        <li>Rarely use all upper cases</li>
        <li>Limit the number of fonts</li>
        <li>On the web, use web-safe fonts</li>
        <li>Design for copy and paste</li>
        <li>When combining, be intentional</li>
    </ul>
</mat-card>