@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");

h1,
h2 {
  font-family: "Acme", sans-serif;
}

.dont,
.do {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-left: 12px;
  color: red;
}

.do {
  color: green;
}

.col-2 {
  text-align: center;
}

mat-icon {
  font-size: 42px;
  display: block;
  margin: 35px auto;
}
