<mat-card>
    <h1>Understandability</h1>
    <p>It includes language, images, icons and sound.</p>
    <p>The language needs to be user-friendly, images and icons intuitive and the sound can't irritate our users!</p>
</mat-card>
<mat-card>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h2 class="dont">DON'Ts<i class="far fa-times-circle" id="dont"></i></h2>
            </div>
            <div class="col-6">
                <h2 class="do">DO's<i class="far fa-check-circle" id="do"></i></h2>
            </div>
        </div>
    </div>
    <img src="../../../assets/alert.jpg" class="responsive" alt="log-out pop-up">
    <p class="signature">By Agata Piekarczyk</p>
</mat-card>
<mat-card>
    <h1>Examples of popular icons</h1>
    <div class="container">
        <div class="row">
            <div class="col-2">
                <mat-icon>home</mat-icon>
            </div>
            <div class="col-2">
                <mat-icon>search</mat-icon>
            </div>
            <div class="col-2">
                <mat-icon>settings</mat-icon>
            </div>
            <div class="col-2">
                <mat-icon>shopping_cart</mat-icon>
            </div>
            <div class="col-2">
                <mat-icon> mail_outline</mat-icon>
            </div>
            <div class="col-2">
            <mat-icon>delete_outline</mat-icon>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <mat-icon>autorenew</mat-icon>
            </div>
            <div class="col-2">
                <mat-icon>done_outline</mat-icon>
            </div>
            <div class="col-2">
                <mat-icon>thumb_up</mat-icon>
            </div>
            <div class="col-2">
                <mat-icon>visibility_off</mat-icon>
            </div>
            <div class="col-2">
                <mat-icon>zoom_in</mat-icon>
            </div>
            <div class="col-2">
                <mat-icon>zoom_out</mat-icon>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <mat-icon> location_on</mat-icon>
            </div>
            <div class="col-2">
                <mat-icon> rss_feed</mat-icon>
            </div>
            <div class="col-2">
                <mat-icon>mic_off</mat-icon>
            </div>
            <div class="col-2">
                <mat-icon>videocam_off</mat-icon>
            </div>
            <div class="col-2">
                <mat-icon>volume_up</mat-icon>
            </div>
            <div class="col-2">
                <mat-icon>add</mat-icon>
            </div>
        </div>
    </div>  
</mat-card>
<mat-card>
    <h2>Tips</h2>
    <ul>
        <li>Don't assume anything</li>
        <li>Think as your users</li>
        <li>Foresee questions, and answer them</li>
        <li>Think about context</li>
    </ul>
</mat-card>
