<mat-card>
    <h1>What is Design System?</h1>
    <p>A design system is a complete set of standards intended to manage design at scale using reusable 
        components and patterns. It contains:
    </p>
    <ul>
        <li><strong>Style/brand ID guides</strong> - Style guides contain specific implementation guidelines, 
            visual references, and design principles</li>
        <li><strong>Component (design) libraries</strong> - specify individual UI elements</li>
        <li><strong>Pattern libraries</strong> - feature collections of UI-element groupings or layouts</li>
    </ul>
</mat-card>
<mat-card>
<h1>Advantages of Design System</h1>
<ul>
    <li>Better user experience (including clients, employees, candidates for a job)</li>
    <li>Faster product development</li>
    <li>Smoother communication between teams</li>
    <li>Increase of the quality and quantity of the delivered functionality</li>
    <li>Ease of maintaining projects</li>
    <li>Possibility of making easy modifications when necessary</li>
</ul>
</mat-card>
<mat-card>
    <h1>Three approaches of implementing Design System</h1>
    <p>Depending on budget and needs, companies can select one of three approaches to design systems:</p>
        <ol>
            <li><strong>Adopt</strong> an existing system in its entirety</li>
                <p><i class="fas fa-plus"></i>low cost, less customization</p> 
                <p><i class="fas fa-minus"></i>low brand differentiation</p>
            <li><strong>Adapt</strong> an existing system to the company’s needs</li>
            <p><i class="fas fa-plus"></i>| <i class="fas fa-minus"></i>Medium cost, medium brand recognition</p>
            <li><strong>Create</strong> an entirely new one </li>
            <p><i class="fas fa-minus"></i>high cost, more customization</p>
            <p><i class="fas fa-plus"></i>high brand differentiation</p>
        </ol> 
</mat-card>
<mat-card>
    <h1>Examples of Design System</h1>

</mat-card>