<mat-card>
    <h1>What is Design System?</h1>
    <p>A design system is a complete set of standards intended to manage design at scale using reusable 
        components and patterns. It contains:
    </p>
    <ul>
        <li><strong>Style/brand ID guides</strong> - Style guides contain specific implementation guidelines, 
            visual references, and design principles</li>
        <li><strong>Component (design) libraries</strong> - specify individual UI elements</li>
        <li><strong>Pattern libraries</strong> - feature collections of UI-element groupings or layouts</li>
    </ul>
</mat-card>
<mat-card>
<h1>Advantages of Design System</h1>
<ul>
    <li>Better user experience (including clients, employees, candidates for a job)</li>
    <li>Faster product development</li>
    <li>Smoother communication between teams</li>
    <li>Increase of the quality and quantity of the delivered functionality</li>
    <li>Ease of maintaining projects</li>
    <li>Possibility of making easy modifications when necessary</li>
</ul>
</mat-card>
<mat-card>
    <h1>Three approaches of implementing Design System</h1>
    <p>Depending on budget and needs, companies can select one of three approaches to design systems:</p>
        <ol>
            <li><strong>Adopt</strong> an existing system in its entirety</li><br>
                <p><i class="fas fa-plus"></i>low cost, less customization</p> 
                <p><i class="fas fa-minus"></i>low brand differentiation</p>
            <li><strong>Adapt</strong> an existing system to the company’s needs</li><br>
                <p><i class="fas fa-plus"></i>| <i class="fas fa-minus"></i>Medium cost, medium brand recognition</p><br>
            <li><strong>Create</strong> an entirely new one </li><br>
                <p><i class="fas fa-plus"></i>high brand differentiation</p>
                <p><i class="fas fa-minus"></i>high cost, more customization</p>   
        </ol> 
</mat-card>
<mat-card>
    <h1>Examples of Design System elements</h1><br>
    <h2>Colors and logo</h2>
    <img src="../../assets/style-guide.jpg" class="responsive" alt="brand colors">
    <hr><br>
    <h2>Gradients and pictures</h2>
    <img src="../../assets/gradients.jpg" class="responsive" alt="brand gradients">
    <hr><br>
    <h2>Typography</h2>
    <img src="../../assets/typography-design.jpg" class="responsive" alt="typography">
    <hr><br>
    <h2>Incorrect use of pictures</h2>
    <img src="../../assets/incorrect-pictures.jpg" class="responsive" alt="incorrect pictures">
    <hr><br>
    <h2>Pricing example</h2>
    <img src="../../assets/bootstrap-pricing.jpg" alt="pricing-example" class="responsive">
    <hr>
    <h2>Slider</h2>
<mat-slide-toggle>Slide me!</mat-slide-toggle>
<hr>
<h2>Chips</h2>
<mat-chip-list aria-label="Fish selection">
    <mat-chip>HTML</mat-chip>
    <mat-chip>CSS</mat-chip>
    <mat-chip color="primary" selected>JavaScript</mat-chip>
    <mat-chip color="accent" selected>TypeScript</mat-chip>
</mat-chip-list>
<hr>
<h2>Checkbox</h2>
<section class="section">
    <mat-checkbox class="margin">Check me!</mat-checkbox>
    <mat-checkbox class="margin" [disabled]="true">Disabled</mat-checkbox>
</section>
<section class="section">
    <span class="list-section">
        <mat-checkbox class="margin" [checked]="allComplete" [color]="task.color"
            [indeterminate]="someComplete()" (change)="setAll($event.checked)">
            {{task.name}}
        </mat-checkbox>
    </span>
    <span class="list-section">
        <ul class="checkbox-list">
            <li *ngFor="let subtask of task.subtasks">
                <mat-checkbox [(ngModel)]="subtask.completed" [color]="subtask.color"
                    (ngModelChange)="updateAllComplete()">
                    {{subtask.name}}
                </mat-checkbox>
            </li>
        </ul>
    </span>
</section>
<hr>
</mat-card>