@import url("https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap");

.container {
  max-width: 850px;
}

footer {
  clear: both;
  position: sticky;
  bottom: 0;
  width: 100%;
  padding: 8px 15px;
  background-color: #f8f9fa;
  text-align: center;
  font-family: monospace;
}

a {
  margin-left: 8px;
  text-decoration: none;
  color: grey;
}
