@import url("https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap");

h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

span {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
}

.dont,
.do {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-left: 12px;
  color: red;
}

.do {
  color: green;
}

.contrast {
  font-family: "Otomanopee One", sans-serif;
  color: rgb(30, 30, 97);
  text-align: center;
}
