<mat-card>
    <h1>Contrast</h1>
    <p>Users will notice and remember elements that stand out. To show the contrast we can use:
        <span>color, shape, size and orientation.</span>
    </p>
</mat-card>

<mat-card>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="contrast">COLOR, SIZE & ORIENTATION</h1>
                <h2 class="dont">DON'Ts<i class="far fa-times-circle" id="dont"></i></h2>
                <img src="../../../assets/contrast-incorrect.jpg" class="responsive"
                    alt="example of incorrect alignment">
            </div>
            <br>
            <hr>
            <div class="row">
                <div class="col">
                    <h2 class="do">DO's<i class="far fa-check-circle" id="do"></i></h2>
                    <img src="../../../assets/contrast-correct.jpg" class="responsive"
                        alt="example of correct alignment">
                </div>
            </div>
        </div>
    </div>
    <p class="signature">By Agata Piekarczyk</p>
</mat-card>

<mat-card>
    <h1 class="contrast">SHAPE</h1>
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="dont">DON'Ts<i class="far fa-times-circle" id="dont"></i></h2>
            </div>
            <div class="col">
                <h2 class="do">DO's<i class="far fa-check-circle" id="do"></i></h2>
            </div>
        <img src="../../../assets/contrast-shape.jpg" class="responsive" alt="example of incorrect alignment">
        </div>
    </div>
    <p class="signature">By Agata Piekarczyk</p>
</mat-card>

<mat-card>
    <h2>Tips</h2>
    <p>Adds visual interest and organization. Be confident and purposeful.</p>
</mat-card>