<mat-card>
    <h1 class="text-responsive">21st Century Design</h1>
    <p>Here are four fundamental principles of human-centered design:</p>
    <ul>
        <li><strong>People-centered:</strong> Focus on people and their context in order to create things that are appropriate for them. 
            We should <strong>design with people, not for them!</strong></li>
        <li><strong>Understand and solve the right problems</strong>: The symptoms will just keep coming back if we don't!</li>
    <blockquote><br>
        <p class="quote">"One of my rules in consulting is simple: never solve the problem I am asked to solve. 
        Why such a counterintuitive rule? Because, invariably, the problem I am asked to solve is not the 
        real, fundamental, root problem. It is usually a symptom."</p>
        <cite>— Don Norman, The Design of Everyday Things</cite>
    </blockquote>
        <p>To help you find the root problem, take a look at the 5 Whys Method in Design Thinking!</p>
        <li><strong>Everything is a system:</strong> Think of everything as a system of interconnected parts. Try to look at a bigger picture!</li>
        <li><strong>Small and simple interventions:</strong> Do iterative work and don't rush to a solution. Try small, simple interventions and learn from them one 
            by one, and slowly your results will get bigger and better. We must continually prototype, test and refine our proposals to make sure 
            that our small solutions truly meet the needs of the people we focus on.</li>
    </ul>
    <p>
        Designers produce short-term usable products which harm the planet when we produce them and when we dispose them. Unfortunately, designers are not in 
        a position of authority to say “no”! That's wrong and we must change it.<br><br>
        To gain more power as a UX Designer, always ask the below questions:
    </p>
    <ul>
        <li>What is good for the company?</li>
        <li> What is good for society?</li>
        <li>What is good for humanity?</li>
    </ul>
    <p>
        How to communicate clearly and get people interest?<br>
        Try to explain things in <strong>the most simple</strong> way! <strong>Use examples.</strong><br><br>
        People will be against you, but you need to have the courage to make them unhappy in order to create something good. If you have done the work to ensure you are solving 
        the right problem, their resistance is actually a good sign.
    </p>