<mat-card>
    <h1 class="text-responsive">What is the difference between UX Designer and UX Architect?</h1>
    <p>A <strong>UX Architect (Information Architect)</strong> is focused on a high-level view of the product and is 
        responsible for creating a structure and flow based on user and market research. UX Architects 
        can conduct research on their own or with the help of the research team if needed. 
         </p>
         <p>A <strong>UX Designer</strong> is responsible for designing user interfaces and makes a product usable. 
             In many companies UX Designers are responsible for early research and creating user 
             personas. Usually they also conduct necessary usability testing.</p>
        <h1 class="tab-header">UX Architect vs. UX Designer - main differences</h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">UX Architect</th>
                    <th scope="col">UX Designer</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>looks at the bigger picture</td>
                    <td>focuses on the details</td>
                </tr>
                <tr>
                    <td>decides how to structure the content, creates wireframes</td>
                    <td>creates high-fidelity prototype with the proper interactions </td>
                </tr>
                <tr>
                    <td>focuses on navigation and user flow</td>
                    <td>creates the user interfaces and interactions for each view</td>
                </tr>
                <tr>
                    <td>reviews research - considers what features and content the user needs</td>
                    <td>reviews research - wants to know how the user interacts with the elements</td>
                </tr>
                <tr>
                    <td>answers the question: Who are the users, and what do they need?</td>
                    <td>answers the question: Who are the users, and how do we meet their need?</td>
                </tr>
            </tbody>
        </table>
    </mat-card>
    <mat-card>
        <h2>Typical workflow</h2>
         <ol>
             <li>UX Architect analyzes market and user research in order to establish how to structure the content.</li>
             <li>UX Architect puts together a blueprint (wireframes & prototypes) for the UX Designer.</li>
             <li>UX Designer analyzes user research and the blueprint and starts to design each user interface.</li>
             <li>During usability studies - UX Architect focuses more on accessibility (how the user navigate through the page and how 
                 accesses content). UX Designer wants to see how the user interacts with content.</li>
            <li>Once a product is live - UX Architects will double check if the content is up-to-date. They will focus on accessibility and 
                recommend updates. According to this recommendation, UX Designer will analyze interactions and fix each screen to make it 
                more user friendly.
            </li>
         </ol>
</mat-card>

