<mat-card>
  <h1>What is Accessibility and why it's so important?</h1>
    <p>In UX, accessibility ensures that <strong>digital products are usable by people of all abilities and disabilities.</strong> It involves designing interfaces so <span class="everyone">everyone</span>, including those with visual, auditory, 
        cognitive, or motor impairments, can navigate, understand, and interact with the product effectively. Key principles include providing alternative text for images, keyboard navigation options, 
        and readable font sizes to create an inclusive experience.
    </p>
</mat-card>
      
