@import "@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-card {
  margin: 35px auto;
}

p,
ul {
  margin-left: 10px;
  text-align: justify;
  font-weight: lighter;
  line-height: 1.5;
  font-size: 18px;
}

ol {
  margin-left: 0;
  text-align: justify;
  font-weight: lighter;
  line-height: 1.5;
  font-size: 18px;
}

.responsive {
  width: 100%;
  height: auto;
  margin: px auto;
}

#dont {
  color: red;
  margin-left: 10px;
}

#do {
  color: green;
  margin-left: 10px;
}

.signature {
  text-align: right;
  font-family: monospace;
  font-size: 9px;
}

@media (max-width: 500px) {
  p,
  ul,
  ol {
    font-size: 16px;
  }
}


