<mat-card>
    <h1 class="text-responsive">What is the difference between UI & UX?</h1>
    <div [ngClass]="{'limitTextHeight': isReadMore}">
        <p><strong>UX (User Experience)</strong> in a few words: functionality of the product
            (web application, furniture or a bottle of shampoo!).
            UX includes all aspects of the end user's
            interaction with the company, its services, and its products. In other words connects with each
            other technology, design and business.
            <strong>UI (User Interface)</strong> is everything what the user sees: colors, typography, distance between elements
            and
            much more! <br><br>
            <span class="out-of-the-box">To meet users' needs you have to <em>think out of the box!</em></span></p>
            <p>Ask yourself if your product is...</p>
            <ul>
                <li>useful?</li>
                <li>easy to use?</li>
                <li>fun?</li>
            </ul>
            <p>To create a product which make our users happy, we need to follow UI & UX rules. 
                Everything matters and there are some certain steps which shouldn't be omitted, e.g.
                user's research, empathy maps, customer journey maps, creating personas, wireframing and 
                prototyping, usability testing and much more!</p>  
    </div>
        <button type="button" class="readMore" (click)="showText()">
            {{ isReadMore ? 'Read More': 'Read Less' }}
        </button>
</mat-card>
<mat-card>
<div class="container">    
<div class="row">
    <div class="col-md-4">
        <figure>
            <a routerLink="/color"><img src="../../assets/img1.jpg" class="img-fluid" alt="an orange on a blue background"></a>
            <figcaption><a routerLink="/color" class="caption">Colors, contrast, typography...</a></figcaption>
        </figure>
    </div>
    <div class="col-md-4">
        <figure>
            <a routerLink="/maps"><img src="../../assets/img2.jpg" class="img-fluid" alt="a sign of directions"></a>
            <figcaption><a routerLink="/maps" class="caption">How to meet our users' needs?</a></figcaption>
        </figure>
    </div>
    <div class="col-md-4">
        <figure>
            <a routerLink="/design-thinking"><img src="../../assets/img3.jpg" class="img-fluid" alt="a hand with a bulb"></a>
            <figcaption><a routerLink="/design-thinking" class="caption">Design Thinking & Research</a></figcaption>
        </figure>
    </div>
</div>
</div>
<p class="teaser">Tips & Tricks, Mapping Methods and much more!</p>
</mat-card>
<mat-card>
    <h1 class="text-responsive">The most common roles in UX</h1>
        <ul>
            <li><strong>UX Designer</strong> - creates prototypes, wireframes</li>
            <li><strong>UX/UI Designer</strong> - creates prototypes, takes care of visual design</li>
            <li><strong>UX Researcher</strong> - conducts user interviews and usability testing, designs survey</li>
            <li><strong>Information Architect</strong> - creates wireframes, navigation and hierarchy, analyses user research</li>
            <li><strong>Front-End Developer</strong> - writes functional code, uses HTML, CSS, JavaScript</li>
            <li><strong>UX Copywriter</strong> - takes care of the language which is the most convenient for the users</li>
            <li><strong>Visual/Graphic Designer</strong> - creates icons and visual elements for UI, create and applies styles</li>
        </ul>
</mat-card>

