<mat-card>
    <h1>What is UX and what is the difference between UI & UX?</h1>
        <p><strong>UX (User Experience)</strong> in a few words: functionality of the product
            (web application, furniture or a bottle of shampoo!).
            UX includes all aspects of the end user's
            interaction with the company, its services, and its products. In other words connects with each
            other technology, design and business.
            <strong>UI (User Interface)</strong> is everything what the user sees: colors, typography, distance between elements and much more!
        </p>
</mat-card>

<mat-card>
    <h1>
        When we create a product/services we need to ask ourselves:
    </h1>
    <div class="text-center">
        <button> Is it useful?</button>
        <button>Is it easy to use?</button>
        <button>Is it fun?</button>
    </div>
</mat-card>

<mat-card>
    <h1>The most common roles in UX</h1>
        <ul>
            <li><strong>UX Designer</strong> - creates prototypes, wireframes</li>
            <li><strong>UX/UI Designer</strong> - creates prototypes, takes care of visual design</li>
            <li><strong>UX Researcher</strong> - conducts user interviews and usability testing, designs survey</li>
            <li><strong>Information Architect</strong> - creates wireframes, navigation and hierarchy, analyses user research</li>
            <li><strong>Front-End Developer</strong> - writes functional code, uses HTML, CSS, JavaScript</li>
            <li><strong>UX Copywriter</strong> - takes care of the language which is the most convenient for the users</li>
            <li><strong>Visual/Graphic Designer</strong> - creates icons and visual elements for UI, create and applies styles</li>
        </ul>
</mat-card>


