<h2>What is UX and what is the difference between UI & UX?</h2>
<h4>UX (User Experience) in a few words: functionality of the product 
    (web application, furniture or a bottle of shampoo!).<br>
    UX includes all aspects of the end user's 
    interaction with the company, its services, and its products. In other words connects with each 
    other technology, design and business. <br>
    UI (User Interface) is everything what the user sees: colors, typography, distance between elements and much more!
</h4>
    <h2>
        When we create a product/services we need to ask ourselves:
    </h2>
    <button> Is it useful?</button>
    <button>Is it easy to use?</button>
    <button>Is it fun?</button> 
    <h2>The most common roles in UX</h2>
    <h4><strong>UX Designer</strong> - creates prototypes, wireframes<br>
        <strong>UX/UI Designer</strong> - creates prototypes, takes care of visual design<br>
        <strong>UX Researcher</strong> - conducts user interviews and usability testing, designs survey<br>
        <strong>Information Architect</strong> - creates wireframes, navigation and hierarchy, analyses user research<br>
        <strong>Front-End Developer</strong> - writes functional code, uses HTML, CSS, JavaScript<br>
        <strong>UX Copywriter</strong> - takes care of the language which is the most convenient for the users<br>
        <strong>Visual/Graphic Designer</strong> - creates icons and visual elements for UI, create and applies styles
    </h4>
    <h3>Everything can be improved!</h3>
  
  

