@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");

h1,
.out-of-the-box {
  font-family: "Acme", sans-serif;
  font-size: 34px;
  line-height: 1.3;
}

.teaser {
  font-family: "Acme", sans-serif;
  font-size: 22px;
}

a {
  text-decoration: none;
  color: #000;
}

.out-of-the-box {
  font-size: 24px;
}

.readMore {
  border: none;
  font-size: 14px;
  cursor: none;
  background-color: #fff;
  color: #000;
  text-decoration: underline;
  font-family: Arial, Helvetica, sans-serif;
  margin: 15px 0 0;
  cursor: pointer;
}

.limitTextHeight {
  height: 78px;
  overflow: hidden;
}

.text-responsive {
  font-size: calc(100% + 1vw + 1vh);
}

small {
  font-size: 11px;
}

img {
  margin-bottom: 10px;
  border-radius: 4px;
}

@media (max-width: 500px) {
  p,
  .teaser {
    font-size: 14px;
    text-align: left;
  }
}
