@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

h1,
h2 {
  font-family: 'Acme', sans-serif;
}

.fa-plus,
.fa-minus {
  color: green;
  font-weight: bold;
  margin-right: 10px;
}

.fa-minus {
  color: red;
}
