<mat-card>
    <h1>Prototyping</h1>
    <p>A prototype is a primitive representation or version of a product that a design team or front-end-development team
    typically creates during the design process. The goal of a prototype is to test the flow of a design solution and gather
    feedback on it — from both internal and external parties — before constructing the final product. The state of a prototype
    is fluid as the team revises the design iteratively based on user feedback.
    </p>
    <ul>
        <li><strong>Low Fidelity</strong> - e.g. a paper prototype or a basic wireframe.
                It's a good first step before moving on to an interactive prototype.</li><br>
            <p><i class="fas fa-plus"></i>easy, quick and cheap; get your ideas down</p>
            <p><i class="fas fa-minus"></i>lack of details, not great for testing</p><br>
    </ul>
            <img src="../../assets/wireframe.jpg" class="responsive" alt="low fidelity prototype"><br>
            <p class="signature">By Agata Piekarczyk</p><hr>
    <ul>       
        <li><strong>High Fidelity</strong> - they are much more detailed, and their
                function is closer to that of the final product. High-fidelity prototypes are
                better for usability testing.</li><br>
            <p><i class="fas fa-plus"></i>more realistic, easier for clients to grasp what the end 
                product will look like</p>
            <p><i class="fas fa-minus"></i>tempting to over-polish them, takes time to prepare</p>
            
    </ul>
            <img src="../../assets/prototype.jpg" class="responsive" alt="low fidelity prototype"><br>
            <p class="signature">By Agata Piekarczyk</p>
            <hr>
    <h2>The most popular tools for prototyping and wireframing</h2>
    <ul>
        <li>Balsamiq</li>
        <li>Figma</li>
        <li>Axure</li>
        <li>Adobe </li>
        <li>Sketch (IOS only)</li>
        <li>UXPin</li>
        <li>InVision</li>
    </ul>

</mat-card>
<mat-card>
    <h2>Tips</h2>
    <ul>
        <li>Don't get attached - if it's not working, get rid of it</li>
        <li>Always use the largest practical sample size</li>
        <li>Be consistent!</li>
        <li>The bigger testing group, the better</li>
        <li>Avoid leading questions</li>
        <li>No guarantees - remember, the point of testing is to mitigate risk, not remove risk</li>
        <li>Don't spend too much time on it</li>
    </ul>
</mat-card>